/*buttons*/
#left_align_btn{
    -fx-background-color: rgb(60,63,65);
    -fx-text-fill: rgb(187,187,187);
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-pref-width:30px;
    -fx-pref-height:30px;
}

#left_align_btn:hover{
    -fx-background-color: rgb(53,55,57);
}
#left_align_btn:pressed{
    -fx-background-color: rgb(44,46,47);
    -fx-text-fill: rgb(255,255,255);
}

#center_align_btn{
    -fx-background-color: rgb(60,63,65);
    -fx-text-fill: rgb(187,187,187);
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-pref-width:30px;
    -fx-pref-height:30px;
}
#center_align_btn:hover{
    -fx-background-color: rgb(53,55,57);
}
#center_align_btn:pressed{
    -fx-background-color: rgb(44,46,47);
    -fx-text-fill: rgb(255,255,255);
}

#right_align_btn{
    -fx-text-fill: rgb(187,187,187);
    -fx-background-color: rgb(60,63,65);
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-pref-width:30px;
    -fx-pref-height:30px;
}
#right_align_btn:hover{
    -fx-background-color: rgb(53,55,57);
}
#right_align_btn:pressed{
    -fx-background-color: rgb(44,46,47);
    -fx-text-fill: rgb(255,255,255);
}

#justify_btn{
    -fx-text-fill: rgb(187,187,187);
    -fx-background-color: rgb(60,63,65);
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-pref-width:30px;
    -fx-pref-height:30px;
}
#justify_btn:hover{
    -fx-background-color: rgb(53,55,57);
}
#justify_btn:pressed{
    -fx-background-color: rgb(44,46,47);
    -fx-text-fill: rgb(255,255,255);
}

#bold_btn{
    -fx-text-fill: rgb(187,187,187);
    -fx-background-color: rgb(60,63,65);
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-pref-width:30px;
    -fx-pref-height:30px;
}
#bold_btn:hover{
    -fx-background-color: rgb(53,55,57);
}
#bold_btn:pressed{
    -fx-background-color: rgb(44,46,47);
    -fx-text-fill: rgb(255,255,255);
}

#italic_btn{
    -fx-text-fill: rgb(187,187,187);
    -fx-background-color: rgb(60,63,65);
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-pref-width:30px;
    -fx-pref-height:30px;
}
#italic_btn:hover{
    -fx-background-color: rgb(53,55,57);
}
#italic_btn:pressed{
    -fx-background-color: rgb(44,46,47);
    -fx-text-fill: rgb(255,255,255);
}

#underline_btn{
    -fx-text-fill: rgb(187,187,187);
    -fx-background-color: rgb(60,63,65);
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-pref-width:30px;
    -fx-pref-height:30px;
}
#underline_btn:hover{
    -fx-background-color: rgb(53,55,57);
}
#underline_btn:pressed{
    -fx-background-color: rgb(44,46,47);
    -fx-text-fill: rgb(255,255,255);
}

#number_btn{
    -fx-text-fill: rgb(187,187,187);
    -fx-background-color: rgb(60,63,65);
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-pref-width:30px;
    -fx-pref-height:30px;
}
#number_btn:hover{
    -fx-background-color: rgb(53,55,57);
}
#number_btn:pressed{
    -fx-background-color: rgb(44,46,47);
    -fx-text-fill: rgb(255,255,255);
}

#table_btn{
    -fx-text-fill: rgb(187,187,187);
    -fx-background-color: rgb(60,63,65);
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-pref-width:30px;
    -fx-pref-height:30px;
}
#table_btn:hover{
    -fx-background-color: rgb(53,55,57);
}
#table_btn:pressed{
    -fx-background-color: rgb(44,46,47);
    -fx-text-fill: rgb(255,255,255);
}

#bullets_btn{
    -fx-text-fill: rgb(187,187,187);
    -fx-background-color: rgb(60,63,65);
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-pref-width:30px;
    -fx-pref-height:30px;
}
#bullets_btn:hover{
    -fx-background-color: rgb(53,55,57);
}
#bullets_btn:pressed{
    -fx-background-color: rgb(44,46,47);
    -fx-text-fill: rgb(255,255,255);
}

#preview_btn{
    -fx-background-color: rgb(60,63,65);
    -fx-text-fill: rgb(187,187,187);
}
#preview_btn:hover{
    -fx-background-color: rgb(53,55,57);
}
#preview_btn:pressed{
    -fx-background-color: rgb(44,46,47);
    -fx-text-fill: rgb(255,255,255);
}


/*panes*/
#jmark_borderPane{
    -fx-background-color: rgb(43,43,43);
}

#jmark_anchor{
    -fx-background-color: rgb(43,43,43);
}


/*toolbar*/
#jmark_toolBar{
    -fx-background-color: rgb(60,63,65);
}


/*text area*/
.text-area {
    -fx-background-color: transparent;
    -fx-text-fill: rgb(169,183,198);
    -fx-highlight-fill: rgb(33,66,131);
    -fx-highlight-text-fill: rgb(169,183,198);
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

/*menubar*/

#jmark_menuBar {
    -fx-background-color: rgb(60,63,65);
}

.context-menu {
    -fx-background-color: rgb(60,63,65);
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
}

.menu-bar:hover{
    -fx-background-color: rgb(53,55,57);
}

.menu-bar .label {
    -fx-text-fill: rgb(187,187,187);
}

/*.menu .left-container {*/
    /*-fx-background-color: black;*/
/*}*/

.menu:hover{
    -fx-background-color: rgb(53,55,57);
}
.menu:focused{
    -fx-background-color: rgb(53,55,57);
}

.context-menu .label {
    -fx-text-fill: rgb(187,187,187);
}

.menu-item:hover{
    -fx-background-color: rgb(53,55,57);
}
.menu-item:focused{
    -fx-background-color: rgb(53,55,57);
}

.menu-button:armed{
    -fx-background-color: rgb(53,55,57);
}

.menu-button:focused{
    -fx-background-color: rgb(53,55,57);
}

.menu:selected{
    -fx-background-color: rgb(53,55,57);

}

.menu:showing{
    -fx-background-color: rgb(53,55,57);

}


/*separator*/
.separator:horizontal .line {
    -fx-border-color: darkslategray;
}
